@import "reset";
@import "variabless";

.app {
    font: var(--font-m);
    background: var(--secondary-color);
    color: var(--third-color);
    min-height: 100vh;


}

.swiper{
    margin-top: 50px;
    
    @media (max-width: 600px) {
        margin-top: 25px;
    }

    .swiper-wrapper {
        .swiper-slide{
            width: 330px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 630px) {
                width: 50%;
            }
        }
    }
}
