@import "reset";
@import "variabless";

.app {
    font: var(--font-m);
    background: var(--secondary-color);
    color: var(--third-color);
    min-height: 100vh;


}

.swiper-pagination-bullet{
    width: 20px;
    border-radius: 2px;
    height: 5px;
}

.swiper-pagination-bullet-active{
    background-color: #EF8A29;

}

