:root {
    // typography
    --font-family-main: 'Poppins', sans-serif;
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-sm: 14px;
    --font-line-sm: 22px;
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 18px;
    --font-line-l: 26px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 20px;
    --font-line-xl: 28px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // sizes
    --navbar-height: 80px;
    --sidebar-width: 280px;

    // colors
    --primary-color: #fff;
    --secondary-color: #000;
    --active-color: #643fff;
    --hover-color: rgb(0 0 0 / 3.5%);
    --second-hover: rgb(41 5 194 / 83%);
    --error-collor: #fd7171;
}