

.radioContainer{
    border-top: 1px solid #ddd;
}

.arrow {
    width: 18px;
    height: 18px;
    transform: rotate(90deg);
    transition: transform .3s ease-in;
}

.arrowHide {
    width: 18px;
    height: 18px;
    transform: rotate(-90deg);
}

.radio{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    transition: all .3s ease-in-out;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 5px;
    }
}

.title{
    font: var(--font-l);
    color: var(--secondary-color);
    padding:5px 10px;
    width: 100%;
    text-align: start;
    cursor: pointer;

}

.type{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
    gap: 7px;
}

.hide{
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.value{
    transition: background-color .3s ease-out;
    width: 100%;
    padding: 5px 10px;
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 4px;
    text-align: start;

    &:hover {
        background: #f4f4f4;
    }
}

.active{
    background: var(--active-color);
    color: var(--primary-color);

    &:hover {
        background: var(--active-color);
    }
}