.sidebarContent{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.title{
    font: var(--font-l);
    color: var(--secondary-color);
}

.type{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
    gap: 7px;
}

.value{
    width: 100%;
    padding: 5px 10px;
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background: #f4f4f4;
    }
}

.active{
    background: var(--active-color);
    color: var(--primary-color);

    &:hover {
        background: var(--active-color);
    }
}