.input{
    padding: 3px 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid black;
}

.outline {
    border: 1px solid var(--active-color);

    &:focus {
        outline: 1px solid var(--active-color);
    }
}

.line {
    padding: 0 6px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;

    &:focus {
        border-bottom: 2px solid var(--active-color);
    }

}

.standard {
    &:focus {
        outline: 1px solid black;
    }
}


