.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font: var(--font-xl);
    font-size: 24px;
    font-weight: 700;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 30px;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 65px;
    gap: 5px;

}

.fieldEye{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 10px;
}



.input{
    width: 380px;
    height: 38px;
    padding: 3px 35px ;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--active-color);
    transition: all .3s ;

    &:focus {
        outline: 1px solid var(--active-color);
    }
}

.lineError {
    border: 1px solid var(--error-collor);

    &:focus {
        outline: 1px solid var(--error-collor);
    }
}

.fieldEyeIcon{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.error{
    font: var(--font-s);
    margin-left: 5px;
    color: var(--error-collor);
}

.button{
    width: 380px;
    height: 38px;
}

.link {
    height: 60px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    border-top: 1px solid var(--fourth-color);

    span{
        color: var(--active-color);
        font-weight: 600;
        cursor: pointer;
    }
}

.linkWithoutBorder {
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    gap: 0;
    margin-top: 0;
    border: none;
}