.mainPage{
    background: var(--primary-color);
    position: relative;
    width: 100%;
}

.mainContainer{
    display: flex;
    width: 100%;
}

.e{
    width: calc(100% - var(--sidebar-width));
    flex-grow: 1;
    padding: 20px;
}

.title{
    margin-top: 30px;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: -5px;
    font-weight: 600;
    transition: color .2s ease-in-out;
    cursor: pointer;

    &:hover{
        color: var(--active-color);
    }
}

.eventsContainer{
    display: flex;
    flex-grow: 1;
    min-width: 0;
}


.eventsLayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}