.mainPage{
    background: var(--secondary-bg-color);
    position: relative;
    width: 100%;
}

.mainContainer{
    display: flex;
    width: 100%;
}


.title{
    margin-top: 30px;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: -5px;
    font-weight: 600;
    transition: color .2s ease-in-out;
    cursor: pointer;

    &:hover{
        color: var(--primary-color);
    }
}

.swiper{
    margin-top: 10px;
}