.eventPage{
    width: 100%;
    min-height: 100vh;
    text-align: left;
    margin-top: var(--navbar-height);

    @media only screen and (min-width: 1152px) and (max-width: 1920px) {
        width: 1002px;
        margin: var(--navbar-height) auto;
    }

    @media (max-width: 1152px) {
        margin-top: 0;
    }
}

.poster {
    width: 100%;
    position: relative;
    height: 500px;
    box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;
    border-radius: 6px;

    @media (max-width: 1152px) {
        box-shadow: none;
        border-radius: 0;
    }

    @media (max-width: 768px) {
        height: 350px;
    }

    @media (max-width: 425px) {
        height: 250px;
    }

    @media (max-width: 375px) {
        height: 200px;
    }
}

.posterTitle {
    margin: 10px 0 25px;
    font-size: 30px;
    max-width: 450px;
    overflow: hidden;

    @media (max-width: 1152px) {
        font-size: 26px;
        margin: 10px 0 15px;
    }

    @media (max-width: 768px) {
        font-size: 22px;
        margin: 10px 0;
    }

    @media (max-width: 425px) {
        font-size: 16px;
        margin: 0;
        max-width: 300px;
    }
}

.whiteIcon{
    width: 20px;
    height: 20px;
    color: var(--secondary-color);
}

.posterShadow{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));

    @media (max-width: 768px) {
        height: 50%;
    }
}

.saveButton{
    position: absolute;
    z-index: 1;
    bottom: 35px;
    right: 30px;
    background: transparent;

    &:hover{
        transform: scale(1.2);
        background: transparent;
    }

    @media (max-width: 768px) {
        bottom: 20px;
        right: 20px;
    }
}

.saveIcon{
    color: var(--secondary-color);
    width: 40px;
    height: 40px;

    @media (max-width: 768px) {
        width: 30px;
        height: 30px;
    }
}

.posterInformation{
    position: absolute;
    z-index: 100;
    color: var(--secondary-color);
    left: 30px;
    bottom: 30px;

    @media (max-width: 768px) {
        left: 15px;
        bottom: 15px;
    }
}

.eventDetails{
    display: flex;
    gap: 15px;

    @media (max-width: 600px) {
        display: none;
    }
}

.ageLimit{
    padding: 15px;
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 33;
    border: 3px solid var(--red-color);
    color: var(--red-color);
    font-size: 32px;

    @media (max-width: 768px) {
        border: 2px solid var(--red-color);
        padding: 6px 10px;
        font-size: 28px;
    }

    @media (max-width: 425px) {
        padding: 3px 8px;
        font-size: 20px;
    }
}

.textWithIcon{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;

    p{
        font: var(--font-sm);
    }

    h4{
        font: var(--font-m);
        font-weight: 100;

        @media (max-width: 768px) {
            font: var(--font-s);
        }
    }
}

.posterCategoryName{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    color: var(--component-bg-color);

    @media (max-width: 425px) {
        font-size: 14px;
    }
}

.InfoContainer {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 1002px;

    @media(max-width: 768px){
        margin: 10px auto;
    }

    @media(max-width: 550px){
        gap: 20px;
    }

    @media(max-width: 1125px){
        padding: 0 15px;
    }
}

.description{
    color: #545454;
    flex-grow: 1;
    margin: 0 auto 30px;

    h2{
        margin-bottom: 15px;
        color: var(--primary-color);
    }

    @media(max-width: 600px){
        margin-top: 15px;

        h2{
            font-size: 22px;
        }

        p{
            font-size: 14px;
        }
    }
}

.organizationCard{
    border-radius: 4px;
    background: var(--alternative-bg-color);
    width: 100%;
    padding: 10px 15px;

    @media(max-width: 600px){
        padding: 0;
        background: var(--light-bg-color);
        box-shadow: rgb(0 0 0 / 5%) 0 3px 15px 0, rgb(0 0 0 / 8%) 0 0 0 1px;
    }
}

.organizationProfile{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;

    @media(max-width: 600px){
        padding: 10px 15px;
        background: var(--alternative-bg-color);
    }
}

.organizationImage{
    height: 67px;
    width: 67px;
    border-radius: 4px;

    @media (max-width: 600px) {
        height: 60px;
        width: 60px;
    }
}

.organizationInfo{
    h1{
        font: var(--font-xl);
        font-weight: 600;

        @media(max-width: 660px){
            font: var(--font-m);
            font-weight: 600;
        }
    }

    p{
        color: var(--component-color);
        font: var(--font-s);

        @media(max-width: 660px){
            font: var(--font-s);
        }
    }
}

.organizationLink{
    font: var(--font-sm);
    color: var(--active-color);
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;

    @media(max-width: 600px){
        font: var(--font-s);
    }
}

.organizationContacts{
    display: flex;
    gap: 10px;

    @media(max-width: 470px){
        flex-direction: column;
        gap: 0;
    }
}

.eventInfo{
    display: none;
    align-items:flex-start;
    flex-direction: column;

    @media(max-width: 600px){
        display: flex;
        padding: 20px 15px;
    }
}

.gallerySwiper{
    margin-top: 30px;
    position: relative;
    width: 100%;
    max-width: 1002px;

    @media (max-width: 600px) {
        margin-top: 0;
    }
}

.gallerySwiperSlide{
    width: 330px;
    height: 180px;

    @media (max-width: 630px) {
        width: 50%;
        height: 150px;
    }

    @media (max-width: 500px) {
        height: 130px;
    }

    @media (max-width: 450px) {
        height: 115px;
    }

    @media (max-width: 375px) {
        height: 100px;
    }
}

.galleryImage{
    width: 100%;
    height: 100%;
}

.activeColorIcon{
    width: 20px;
    height: 20px;
    color: var(--active-color);
}

.iFrame{
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
}