.dropdownContainer{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    background: var(--light-bg-color);
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
    padding: 4px 8px;
    max-width: 200px;
    min-width: 120px;
    border-radius: 4px;


}

.title{
    color: var(--primary-color);
    overflow: hidden;
    font: var(--font-sm);

}

.titlePrimary{
    color: var(--active-color);
}

.dropdown{
    background: var(--light-bg-color);
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
    min-width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    height: auto;
    overflow: hidden;
    transition: transform .25s ease-in;
    border-radius: 4px;
    z-index: 5;
}

.clearIcon{
    height: 17px;
    width: 17px;
    color: var(--primary-color);
}

.clearPrimary{
    color: var(--primary-color);
}

.dropIcon{
    height: 13px;
    width: 13px;
    color: var(--primary-color);
    transition: transform .3s;
}

.dropdownItem{
    padding: 10px 15px;
    color: var(--primary-color);
    font: var(--font-sm);

    &:hover{
        background: var(--alternative-bg-color);
    }
}

.showSelect{
    transform: scaleY(1);
}

.rotate{
    transform: rotate(-180deg);
}