.dropdownContainer{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    background: transparent;
    padding: 3px 7px;
    max-width: 250px;
    min-width: 120px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

.dropdownContainerPrimary{
    background: var(--primary-color);
}

.title{
    color: var(--primary-color);
    overflow: hidden;
    font: var(--font-sm);
}

.titlePrimary{
    color: var(--secondary-color);
}

.dropdown{
    background: var(--primary-bg-color);
    width: auto;
    position: absolute;
    top: 40px;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    height: auto;
    overflow: hidden;
    transition: transform .25s ease-in;
    border-radius: 4px;
    z-index: 5;
}

.clearIcon{
    height: 20px;
    width: 20px;
    color: var(--primary-color);
}

.clearPrimary{
    color: var(--secondary-color);
}

.dropIcon{
    height: 13px;
    width: 13px;
    color: var(--primary-color);
    transform: rotate(90deg);
    transition: transform .3s;
}

.dropdownItem{
    padding: 10px 15px;
    color: var(--secondary-color);
    font: var(--font-sm);

    &:hover{
        background: #47474A;
    }
}

.showSelect{
    transform: scaleY(1);
}

.rotate{
    transform: rotate(-90deg);
}